language: node_js
node_js:
- stable
sudo: false
script:
- npm install
- npm test
deploy:
  provider: npm
  email: manager@mathjax.org
  API_key:
    secure: lSMG1MJpx6CdwD4msKRs68lpLt5/yuDOeYgWk9OqPOYobCxf3E2rdzOHhgnMP5vA96Go0uGueXMFHYzOqIZd5eiWyaN+Okcdw9Ry7bDX/l/8lz75c4clDF+0eh5BDrGihCZZgfnFM+BSuSRxqDf8Lk7KP8FSwUPOA59WcF///ngAfDjKJujSI9iwZITVLKvNUreTH0vT5WS1pYZXRfSvyLrlk51hAFngXd/AHmex9Aprx0LYavw2Sq32mVLNnNVu10x+x31Y2e8OWIxRP74fJ/OPiJ1afKuROXygw4uqkWGEPdeicWMQePSloae7O5xxglGpgzCQrZrdW7BmJyQpqfV/HP+RZuP4olRuxNoLw4td3z82BTdzrZiJ4v8ORw7h0pd2KcNMCb8nvD39TfJqLH9jBzMTUPuvkahy5ZVTzLDkd/spxYiP8KWVaj7Cbk9uJt3Qd5onAtf7QmZ5lpt26aVd6cekTSC5DH+y4lzpV9NWQmKuJMnLEuZyaLsr589I+pt+cNuGRqLnP0YHJ9x/zb3K1AAE4G4hXoshg4CH4Z8+hhYnqy8E5Y829B6zFUzovXUdAZqXPh7ZBzy6smvbmjNdoEXceA1OauhkCIY+d0zq+l99gw1L4/xUBd6wJB2Q+tkqeNQiraNa9JTmoUFSRPtX1ats62EgHTiThWIOeks=
  on:
    tags: true
    repo: mathjax/mathjax-node-cli
